# Auto detect text files and perform LF normalization
* text=auto
<!DOCTYPE >
<html >
   <head >
     <meta >
     <font color="orange"> <title>LA INFORMÁTICA</font>
     </title>
      <title>
     </title>
     
     <link >
     <link >
    </head>

    <body>
    	<style type="text/css">
    		body{
    			background-color: gray;
    		}


    	</style>



    	<font color="black"> <CENTER> LA INFORMÁTICA</font>

    	</CENTER>
	    <div id="principal">
           <header>
           	<img src="informatica.jpg">
	          <div id"logo"
	          
	         <font color="black"></font> <p>ASPECTOS IMPORTANTES DE LA INFORMATICA:     aprendiendo conceptos de la informatica.  La informática es una de las ciencias con más aporte al mundo tecnologico, también se puede atribuir como el conjunto de conocimientos los cuales asignan un tratamiento específico a la información por medio de las computadoras.   El computador es un artefacto o elemento electronico utiluzado para el procesamiento de información</font>
	         </p>
	          <nav>
	          	<ul>
	          		<li><a href="">Enlace</a></li>

	          	</ul>
	          </nav>
	        </header>
	    </div>
        

    </body>

</html >




